
@model P_Micro_Banking.Models.AccountViewModel.ChangePasswordViewModel

@{ ViewData["Title"] = "ChangePassword";
    Layout = "_Layout"; }

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-header">
                        <i class="fa fa-edit"></i> Change Password
                    </div>
                    <form asp-controller="Account" asp-action="ChangePassword" onsubmit="return jQueryAjaxChangePass(this);" enctype="multipart/form-data" method="post">
                        <div class="card-body p-4">


                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="OldPassword" class="form-control Password" type="password" placeholder="Current Password">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="NewPassword" class="form-control Password" type="password" placeholder="New Password">
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="icon-lock"></i>
                                    </span>
                                </div>
                                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Repeat new password">
                            </div>
                            <input class="btn btn-block btn-success" value="Save" type="submit" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
            jQueryAjaxChangePass = form => {
            displayBusyIndicator();
            try {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.status) {
                            displayBusyIndicatorstop();
                            toastr.clear();
                            toastr.success(res.message);
                            window.location.href = '@Url.Action("login", "Account")';
                        }
                        else
                            displayBusyIndicatorstop();
                            toastr.error(res.message);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            } catch (e) {
                console.log(e);
            }

            //prevent default post event
            return false;
        }

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}