@model P_Micro_Banking.Models.Deposite.NewAccounts

@{ ViewData["Title"] = "Add Account";
    Layout = "_Layout";
}

<style>
    .label {
        margin-top: 10px;
        margin-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #808080;
    }

    .card1 {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        /* border: 1px solid #c8ced3; */
        border-radius: 0.25rem;
    }

    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
    }
</style>




<div class="container">
    <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="card1">

                <div class="card-body">
                    <div class="center">
                        <div class="row col-lg-12" style="margin:5px;">
                            <form asp-controller="Deposite" onsubmit="return jQueryAjaxPostSearch(this);" enctype="multipart/form-data" method="POST" asp-action="SingleCustomerName">
                                <div class="input-group">
                                    <label class="label">CustomerID</label>
                                    <input required type="text" class="form-control rounded form-control-lg" id="CustomerID" placeholder="CustomerID" asp-for="CustomerID" style="width: 300px;" /> &nbsp;&nbsp;


                                    <input style="width: 100px; background-color: #1aa1e2; border: none; border-radius: 3px; " class="button submit-btn" type="submit" value="Search" />
                                </div>

                            </form>
                        </div>
                        <div class="row col-lg-12">
                            <form asp-controller="Deposite" onsubmit="return jQueryAjaxPostAddFixedAcc(this);" enctype="multipart/form-data" method="POST" asp-action="FixedDeposite">
                                <div class="row" style="margin-top:0px;">
                                    <div class="input-group mt-4 mb-4 ">
                                        <label class="label">Customer Name</label>
                                        <div class="col-12 col-sm-7"> <input asp-for="CustomerName" id="CustomerName" placeholder="Customer Name" class="form-control form-control-lg" /></div>
                                    </div>
                                    <div class="col-12 col-sm-12 ">
                                        <label style="margin-top: -4px;" class="control-label">Package Class</label>
                                        <select asp-for="PackageClass" id="PackageClass" class="form-control form-control-lg">
                                            <option selected value="0">Select Package Class</option>
                                            <option value="3">Fixed Deposite Savings</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row  mt-4" style="margin-top:0px;">
                                    <div class="col-12 col-sm-12 ">
                                        <label style="margin-top: -4px;" class="control-label">Package Type</label>
                                        <select asp-for="PackageType" id="PackageType" class="form-control form-control-lg">
                                        </select>
                                    </div>
                                    <input type="text" style="visibility:hidden" id="customer" asp-for="CustomerN" />

                                </div>

                                <div class="row  mt-5 mb-5" style="margin-top:0px;">
                                    <div class="col-12 col-sm-12 ">
                                        <label style="margin-top: -4px;" class="control-label">Relationship Officer</label>
                                        <select asp-for="RelationshipOfficer" id="RelationshipOfficer" class="form-control form-control-lg">
                                        </select>
                                    </div>

                                </div>

                                <div class="row mt-4 " style="margin-top:0px;">
                                    <div class="col-12 col-sm-6 ">
                                        <label style="margin-top: -4px;" class="control-label">Interest Rate</label>
                                        <input asp-for="InterestRate" id="Interest" placeholder="Interest Rate" class="form-control form-control-lg" />
                                    </div>
                                    <input asp-for="AccountCode" id="AccountCode" type="hidden" placeholder="Deposit Charge Rate" class="form-control form-control-lg" />
                                    <input asp-for="AccountName" id="AccountName" type="hidden" placeholder="Deposit Charge Rate" class="form-control form-control-lg" />
                                    <input asp-for="GlAccNo" id="GlAccNo" type="hidden" placeholder="Deposit Charge Rate" class="form-control form-control-lg" />

                                    <div class="col-12 col-sm-6 mt-4 mt-sm-0 ">
                                        <label class="control-label">Premature Withdraw Charge Rate</label>
                                        <input asp-for="WithdrawerCharge" id="Withdrawer" type="text" placeholder="Withdrawer Charge Rate" class="form-control form-control-lg" />
                                    </div>
                                </div>

                                <div class="row  mt-5 mb-5" style="margin-top:0px;">
                                    <div class="col-12 col-sm-12 ">
                                        <label style="margin-top: -4px;" class="control-label">Fixed Amount</label>
                                        <input data-type="currency" id="Amount" placeholder="0.00" class="form-control form-control-lg" />
                                        <input asp-for="Amount" id="numb" type="hidden" placeholder="Deposit Charge Rate" class="form-control form-control-lg" />

                                    </div>

                                </div>

                                <div class="row mt-4 " style="margin-top:0px;">
                                    <div class="col-12 col-sm-4 ">
                                        <label style="margin-top: -4px;" class="control-label">StartDate</label>
                                        <input asp-for="DepositCharge" id="Deposit" placeholder="Deposit Charge Rate" type="hidden" class="form-control form-control-lg" />
                                        <input asp-for="StartDate" id="StartDate" type="date" class="form-control form-control-lg" />

                                    </div>
                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0 ">
                                        <label class="control-label">Duration</label>
                                        <input asp-for="OpeningCharge" id="OpeningCharge" type="hidden" placeholder="Duration" class="form-control form-control-lg" />
                                        <select asp-for="NoMonth" id="NoMonth" class="form-control form-control-lg">
                                            <option selected value="">Select Duration </option>
                                            <option value="1">1 Month </option>
                                            <option value="2">2 Months </option>
                                            <option value="3">3 Months</option>
                                            <option value="4">4 Months</option>
                                            <option value="5">5 Months</option>
                                            <option value="6">6 Months</option>
                                            <option value="7">7 Months</option>
                                            <option value="8">8 Months</option>
                                            <option value="9">9 Months</option>
                                            <option value="10">10 Months</option>
                                            <option value="11">11 Months</option>
                                            <option value="12">12 Months</option>
                                            <option value="15">15 Months</option>
                                            <option value="18">18 Months</option>
                                            <option value="24">24 Months</option>
                                            <option value="26">26 Months</option>
                                            <option value="29">29 Months</option>
                                            <option value="32">32 Months</option>
                                            <option value="36">36 Months</option>
                                        </select>

                                    </div>

                                    <div class="col-12 col-sm-4 mt-4 mt-sm-0 ">
                                        <label class="control-label">MatureDate</label>
                                        <input asp-for="Duration" id="Durations" placeholder="Duration" type="hidden" class="form-control form-control-lg" />
                                        <input asp-for="MatureDate" id="MatureDate" type="text" class="form-control form-control-lg" />

                                    </div>
                                </div>

                                <div class="mt-3">
                                    <input style="width: 100px; background-color: #1aa1e2; border: none; padding: 7px 14px; border-radius: 3px; " class="button submit-btn" type="submit" value="Save" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

@section Scripts{

    <script>
        jQueryAjaxPostSearch = form => {
            displayBusyIndicator();
            try {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.isValid) {
                            displayBusyIndicatorstop();
                            toastr.clear();
                            toastr.success('Successful');
                            console.log(res.dep);
                            $('#CustomerName').html('');
                            var names = res.dep.accountName;
                            var id = res.dep.customerID;
                            $('#CustomerName').val(names);
                            console.log(id);
                            $('#customer').val(id);
                        }
                        else {
                            displayBusyIndicatorstop();
                            toastr.error("Failed");
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            } catch (e) {
                console.log(e);
            }

            //prevent default post event
            return false;
        }
        jQueryAjaxPostAddFixedAcc = form => {
            displayBusyIndicator();
            try {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.isValid) {
                            displayBusyIndicatorstop();
                            toastr.clear();
                            toastr.success(res.msg);

                        }
                        else {
                            displayBusyIndicatorstop();
                            toastr.error(res.msg);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            } catch (e) {
                console.log(e);
            }

            //prevent default post event
            return false;
        }
    </script>
    <script>
        
        $('#NoMonth').on("change", function () {
            
            var sdate = $('#StartDate').val();
            var Month = $('#NoMonth').val();
            var obj = { Startdate: sdate, NumberMonth: Month };
            console.log(obj);
            AjaxCall('/Deposite/MaturityDate', JSON.stringify(obj), 'POST').done(function (response) {
                if (response.isValid) {
                    $('#MatureDate').val(response.maturity)
                }

            }).fail(function (error) {
                alert(error.StatusText);
            });
        });

    $('#PackageType').on("change", function () {
        var state = $('#PackageType').val();
        var obj = { Sate_Name: state };
        console.log(obj);
        AjaxCall('/Customer/GetDepositePackageItem', JSON.stringify(obj), 'POST').done(function (response) {

            //$('#PackageType').html('');
            var options1 = '';
            var options2 = '';
            var options3 = '';
            var options4 = '';
            var options5 = '';
            var options6 = '';
            var options7 = '';
            var options8 = '';

            //for (var i = 0; i < response.length; i++) {
            console.log(response)
            options1 = response.item1;
            options2 = response.item2;
            options3 = response.item3;
            options4 = response.item4;
            options5 = response.item5;
            options6 = response.item6;
            options7 = response.item7;
            options8 = response.item8;
            // }


            $('#Interest').val(options1);
            $('#Deposit').val(options2);
            $('#Withdrawer').val(options3);
            $('#Durations').val(options4 + ' ' + 'Days');
            $('#AccountCode').val(options5);
            $('#AccountName').val(options6);
            $('#GlAccNo').val(options7);
            $('#OpeningCharge').val(options8);

        }).fail(function (error) {
            alert(error.StatusText);
        });
    });
    $('#PackageClass').on("change", function () {
        var state = $('#PackageClass').val();
        var obj = { Sate_Name: state };
        console.log(obj);
        AjaxCall('/Customer/GetDepositePackage', JSON.stringify(obj), 'POST').done(function (res) {
            if (res.length > 0) {
                $('#PackageType').html('');
                var options = '';
                options += '<option value="Select">Select</option>';
                for (var i = 0; i < res.length; i++) {
                    options += '<option value="' + res[i].code + '">' + res[i].item + '</option>';
                }
                $('#PackageType').append(options);
            }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    });
    $(function () {
        AjaxCall('/Customer/GetRelationshipOfficer', null).done(function (res) {
            //   console.log(response);
            //  var res = JSON.parse(response);
            if (res.length > 0) {
                $('#RelationshipOfficer').html('');

                var options = '';
                options += '<option value="Select">Select</option>';

                for (var i = 0; i < res.length; i++) {
                    // console.log(res[i].DataCode);
                    options += '<option value="' + res[i].code + '">' + res[i].item + '</option>';
                }
                $('#RelationshipOfficer').append(options);

            }
        }).fail(function (error) {
            alert(error.StatusText);
        });
    });

        document.getElementById("Amount").onchange = function () {
            var amt = parseInt(document.getElementById("Amount").value);
            document.getElementById("numb").value = amt;

        }

        // Jquery Dependency
        $("input[data-type='currency']").on({
            blur: function () {
                var LoanAmount = document.getElementById("numb").value;
                document.getElementById("Amount").value = parseFloat(LoanAmount).formatMoney();

            }
        });

        Number.prototype.formatMoney = function (decPlaces, thouSeparator, decSeparator) {
            var n = this,
                decPlaces = isNaN(decPlaces = Math.abs(decPlaces)) ? 2 : decPlaces,
                decSeparator = decSeparator == undefined ? "." : decSeparator,
                thouSeparator = thouSeparator == undefined ? "," : thouSeparator,
                sign = n < 0 ? "-" : "",
                i = parseInt(n = Math.abs(+n || 0).toFixed(decPlaces)) + "",
                j = (j = i.length) > 3 ? j % 3 : 0;
            return sign + (j ? i.substr(0, j) + thouSeparator : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thouSeparator) + (decPlaces ? decSeparator + Math.abs(n - i).toFixed(decPlaces).slice(2) : "");
        };
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

